.main-div {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  padding: 12px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(135deg, #6a5acd, #9370db);
  color: #fff;
  font-size: 20px;
  width: 350px;
  transition: background 0.3s ease, transform 0.3s ease;
  text-transform: capitalize;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.search::placeholder {
  color: #ccc;
}

.search:focus {
  outline: none;
  background: linear-gradient(135deg, #483d8b, #7b68ee);
  transform: scale(1.02);
}

.search:hover {
  background: linear-gradient(135deg, #7b68ee, #a79afd);
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photos-container img {
  width: calc(50% - 55px);
  height: 400px;
  object-fit: cover;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.photos-container img:hover {
  transform: scale(1.05);
}

.loading {
  /* Center loading text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px; /* Match font size with search input */
  color: #fff; /* Match text color with search input */
  padding: 12px; /* Match padding with search input */
  border-radius: 15px; /* Match border radius with search input */
  background: linear-gradient(
    135deg,
    #c4c0d8,
    #9370db
  ); /* Match background with search input */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Match box shadow with search input */
  width: 350px; /* Match width with search input */
  margin-bottom: 20px; /* Match margin with search input */
}

.close:hover {
  background-color: red;
}
.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 32px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 2px;
  width: 50px;
  height: 50px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 18, 18, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  position: relative;
  background-color: #fff;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: calc(100% - 40px);
  max-height: calc(100% - 40px);
}
.modal-content img {
  width: 100%;
  height: auto;
  max-width: calc(100% - 88px);
  max-height: 90vh;
  object-fit: contain;
  border-radius: 15px;
}
.modal-content div {
  font-size: 20px;
  color: purple;
}